body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
main {
  flex: 1;
}
.table-container {
  height: 330px;
  overflow-y: auto;
}
thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}
