<head>
  <link rel="stylesheet" href="http://127.0.0.1:5000/stylesheets/admin/admin-home.css" />
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <div class="container">
    <a class="navbar-brand ms-5 py-0 my-0" href="#"><img src="http://127.0.0.1:5000/images/user/logo.webp" width="100px"
        alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/admin">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
        <li class="nav-item"><a class="nav-link" href="#">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/logOut">LogOut</a></li>
      </ul>
    </div>
  </div>
</nav>

<main class="container-fluid d-flex justify-content-center align-items-center">
  <div class="list-group col-md-4 col-sm-12">
    <a href="/admin/" class="list-group-item list-group-item-action active" aria-current="true">Home</a>
    <a href="/admin/report" class="list-group-item list-group-item-action " >Sales Report</a>
    <a href="/admin/userManagement" class="list-group-item list-group-item-action">User Management</a>
    <a href="/admin/category" class="list-group-item list-group-item-action">Category Management</a>
    <a href="/admin/offers" class="list-group-item list-group-item-action">Coupon</a>
    <a href="/admin/productManagement" class="list-group-item list-group-item-action">Product Management</a>
    <a href="/admin/orderManagement" class="list-group-item list-group-item-action">Order Management</a>
    <a href="/admin/logOut" class="list-group-item list-group-item-action">LogOut</a>
  </div>
</main>

<footer class="bg-dark text-light py-4">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6">
        <p class="mb-0">SML Bazaar</p>
      </div>
      <div class="col-md-6 text-md-end">
        <p class="mb-0">Any questions? Let us know in
          <br />store at Malappuram, Kerala, India<br />9846323495
        </p>
      </div>
    </div>
  </div>
</footer>