<head>
  <link rel="stylesheet" href="http://127.0.0.1:5000/stylesheets/user/user-forgotPassword.css" />
</head>

<div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
  <div class="forgotPassword-container bg-lightp-4 rounded border-success border shadow-lg bg-body-tertiary w-100 p-5"
    style="max-width: 700px;">
    <h3 class="text-center text-success mb-4">Forgot Password</h3>
    <h6 class="text-center text-black lh-base">Please enter your registered
      email address, and we'll send an OTP to reset your password.</h6>
    <form id="otpForm" action="/forgotPassOtp" method="POST">
      <div class="mb-3">
        <label for="otp" class="form-label">Email Address</label>
        <input type="email" id="email" class="form-control" placeholder="Enter your email" name="email" />
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-success">Send OTP</button>
      </div>
    </form>
    <hr />
    <div class="d-flex justify-content-center">
      <a href="/sessionCheck" class="link-underline-opacity-0 link-danger">Back
        to LogIn</a>
    </div>
    <div hidden>
      <p id="warning">{{warning}}</p>
    </div>
  </div>
</div>

<script src="http://127.0.0.1:5000/javascripts/user/user-forgotPassword.js"></script>